@import "tailwindcss";

/* * {
  outline: 1px solid rgba(255, 255, 255, 0.5);
} */

/* * {
  outline: 1px solid white;
} */

html, body, #root, .App {
  height: 100%;
}
.cabin {
  font-family: "Cabin", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.libre-baskerville {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: cabin;
}

body {
  background-color: #191414;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pattern {
  background-image: linear-gradient(rgb(57, 57, 57, .35) 1px, transparent 1px), linear-gradient(to right, rgb(57, 57, 57, .35) 1px, transparent 1px);
  background-size: 128px 128px;
}